#dropdown {
    margin-bottom: 10px;
}

.drop-heading {
    margin-top: 10px;
}

#header {
    background: #090036;
    text-align: center;
    padding: 10px;
}

.main {
    background: #0e0722;
}

#start {
    margin-top: 15px;
}